.video-block {
	.wrapper {
		max-width: 960px !important;
	}
}

.video-container {
	position: relative;
	height: 540px;
	padding-bottom: 0;
	h2{
		margin-bottom: 4.8rem;
	}
	a {
		display: block;
		&:hover {
			.video-play {
				transform: scale(1.1);
			}
		}
	}
}

.provision-video {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	line-height: 1;
	height: 540px;
}
.video-play {
	position: absolute;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	width: 100%;
	margin: auto;
	text-align: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 96px;
	height: 68px;
	line-height: 1;
	margin: auto;
	transform: scale(1);
}
