$colors: (
	black: #101010,
	black70: rgba(#101010, 0.7),
	black50: rgba(#101010, 0.5),
	black40: rgba(#101010, 0.4),
	black25: rgba(#101010, 0.25),
	black15: rgba(#101010, 0.15),
	black10: rgba(#101010, 0.1),
	black05: rgba(#101010, 0.05),
	black03: rgba(#101010, 0.03),
	white: #ffffff,
	white70: rgba(#ffffff, 0.7),
	white50: rgba(#ffffff, 0.5),
	green: #008174,
	darkestgreen: #004039,
	activegreen: #4ec85a,
	dgreen: #00655b,
	lgreen: #a3dcbe,
	bgreen: #008174,
	green30: rgba(#008174, 0.3),
	green20: rgba(#008174, 0.2),
	green10: rgba(#008174, 0.1),
	green06: rgba(#008174, 0.06),
	green03: rgba(#008174, 0.03),
	teal: #44c0bb,
	red: #f9423a,
	brightblue: #42afdf,
	bbdarkblue: #2292c3,
	navyblue: #0c3a60,
	lightblue: #e7f6ff,
	darkblue: #051f35,
	headings: #2a4861,
	bodycolor: #586d7e,
	pureblack: #000000,
	lnr-gr: #daf0ef,
);
